@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroller css */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffeaee;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #882437;
}

/* Swiper Js */
.swiper-pagination-bullet {
  background-color: #882437 !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: #882437 !important;
}

/* Number Arrow Hide csss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
